@import 'src/assets/scss/variables';

.loader {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: auto;
  height: 20px;

  &--big {
    height: 80px;
  }
}
