@import 'src/assets/scss/variables';

.left-bar {
  border-right: $border-light-gray;
  position: fixed;
  align-self: flex-start;
  top: 0;
  left: 0;
  background: $color-white;
  z-index: 10;
  width: $leftbar-width;
  height: 100%;

  @media screen and #{$media-xxs} {
    width: $leftbar-width-mobile;
  }

  &__link {
    display: block;
    padding: $gutter-sm $gutter-md;
    line-height: 0;
    cursor: pointer;
    color: $color-gray;

    @media screen and #{$media-xxs} {
      padding: $gutter-sm;
    }

    &--arrow {
      color: $color-rose;
      padding: $gutter-md;
      padding-bottom: $gutter-lg;

      @media screen and #{$media-xxs} {
        padding: $gutter-lg $gutter-sm $gutter-md;
      }
    }

    &:hover, &.active {
      color: $color-sami-black;
    }
  }
}
