@import 'src/assets/scss/variables';

.content {
  display: flex;
  padding-left: $leftbar-width;

  @media screen and #{$media-sm} {
    min-height: calc(100vh - #{$header-height});
  }

  @media screen and #{$media-xxs} {
    padding-left: $leftbar-width-mobile;
  }
}
