@import 'src/assets/scss/variables';

.profile-page {
  width: 100%;

  &__banner {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @media screen and #{$media-xxs} {
      display: none;
    }
  }

  &__banner-edit {
    position: absolute;
    right: $gutter-md;
    bottom: $gutter-md;
  }

  &__user, &__header, &__content {
    display: flex;
    width: 100%;

    @media screen and #{$media-xxs} {
      flex-direction: column;
    }
  }

  &__about, &__avatar {
    max-width: $profile-social-width;
    width: 100%;

    @media screen and #{$media-xxs} {
      max-width: 100%;
    }
  }

  &__avatar {
    position: relative;
    cursor: pointer;
    border-right: $border-light-gray;
  }

  &__avatar-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: initial;

    @media screen and #{$media-xxs} {
      position: static;
    }
  }

  &__header {
    border-bottom: $border-light-gray;
    border-top: $border-light-gray;
  }

  &__who {
    display: flex;
    align-items: center;
    padding: 0 $gutter-md;

    @media screen and #{$media-xxs} {
      padding: $gutter-sm;
      flex-direction: column;
      border-bottom: $border-light-gray;
    }
  }

  &__name {
    position: relative;

    & h1 {
      margin-right: $gutter-lg;
      font: {
        size: $font-size-xxl;
        weight: $font-weight-xl;
      };

      @media screen and #{$media-xxs} {
        margin-right: 0;
      }
    }
  }

  &__status {
    position: absolute;
  }

  &__username {
    color: $color-gray;
    font: {
      size: $font-size-md;
      weight: $font-weight-md;
    }

    @media screen and #{$media-xxs} {
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
  }

  &__header-button {
    min-width: $profile-button-width;
    margin-left: auto;
    border-left: $border-light-gray;

    &--following {
      color: $color-gray;
    }

    @media screen and #{$media-xxs} {
      min-width: auto;
      border-left: 0;
      margin-left: initial;
    }
  }

  &__about {
    height: 100%;
    padding-top: $gutter-md;
    margin-left: initial;
  }

  &__bio {
    font-weight: $font-weight-xl;
    margin-bottom: $gutter-sm;
  }

  &__place {
    font-weight: $font-weight-md;
    line-height: $line-height-xxl;
    margin-bottom: $gutter-xxs;
  }

  &__socials {
    margin-bottom: $gutter-lg;
  }

  &__socials-link {
    line-height: 0;
    color: $color-black;
    margin-right: $gutter-sm;

    &:hover {
      color: $color-rose;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__tabs {
    width: 100%;
    border-left: $border-light-gray;

    @media screen and #{$media-xxs} {
      border-left: 0;
    }
  }

  &__art {
    @media screen and #{$media-xl} {
      max-width: calc(100% / 3);
    }

    @media screen and #{$media-lg} {
      max-width: calc(100% / 2);
    }

    @media screen and #{$media-xxs} {
      max-width: 100%;
    }
  }
}
